html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 103, 187);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: black;
    cursor: pointer;
}

h2 {
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    flex: 1 1 0%;
    background-image: url(ToDo_BG_Desktop.jpg);
    background-size: cover;
}

.middle {
    height: 100%;
}

.left {
    text-align: center;
    height: 20%;
    /* line-height: 50px; */
}

.left-one{
    height: 40%;
    width: 50%;
    /* align-items: center; */
    position: relative;
    top: 0; /* Positions the element at the top of the page */
  left: 50%; /* Positions the element horizontally centered */
  transform: translate(-50%,40%);
/* padding-top: 10px; */
}

.forms {
    height: 30%;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

form input {
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 8px;
 
    flex: 1 1 0%;
    background-color: rgba(255, 255, 255, 0.8);
}

.forms button {
    padding: 18px;
    background-color: rgba(36, 236, 36, 0.932);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 8px;
    font-weight: bold;

    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms button:hover {
    background-color: rgb(18, 209, 18);
}

.navbar a {
    text-decoration: none;
    color: #ebdb00;
    font-weight: bold;
    font-size: 20px;
    /* height: 50%; */
    letter-spacing: 1.3px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s ease-in-out;
    /* last edited */
    margin-top: 10%;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 25%;
    height: 30%;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffae00;
    border-radius: 40%;
}

.navbar a.active {
    /* background-color: rgba(255, 255, 255, 0.15); Slightly darker background for active link */
    color: #12f8b3;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

.right {
    color: white;
    height: 80%;
    width: 50%;
    margin-left: 25%;
}

#tasks {
    height: 97%;
    overflow: auto;
    scrollbar-width: 0.5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.6rem;
    border-radius: 9px;
    margin-bottom: 5px;
}

/* Target the task list item when hovering */
li.task:hover {
    border: 3px solid #0ffa5d;
    border-radius: 5px;
}

li.task {
    transition: 0.05s;
}

#tasks .task .content input,
#tasks .task .actions button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.task .content {
    flex: 1 1 0%;
    display: flex;
    margin: 0 0;
}

.task .content .text {
    color: black;
    font-size: 1rem;
    width: 98%;
    display: block;
    transition: 0.4s;
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    /* transition: 0.4s; */
}

.task .actions button:hover {
    opacity: 0.7;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .delete,
.task .actions .edit {
    color: crimson;
}

.wrap-css {
    text-overflow: ellipsis;
}

.material-symbols-outlined:hover {
    opacity: 0.75;
}

/* for showNotification */
#notification-popup {
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    /* Ensure it's above other content */
    z-index: 999;
    color: white;
    text-align: center;
    font-weight: bold;
    /* Smooth fade-in/out effect */
    transition: opacity 0.3s ease-in-out;
}

#notification-popup.success {
    background-color: green;
}

#notification-popup.warning {
    background-color: red;
}

#notification-popup.process {
    background-color: rgb(255, 136, 0);
}

.no_task_span {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 0px 1px black;
}

@media screen and (min-width: 281px) {
    @media screen and (max-width: 600px) {

        main {
            background-image: url(ToDo_BG_Mobiles.jpg);
        }

        .left .forms {
            width: 90%;
            padding-left: 5%;
        }

        .navbar a {
            font-size: 18px;
            height: 50%;
            margin-top: 15%;
            padding: 10px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            width: 90%;
            padding-left: 5%;
        }

        .right {
            margin-left: 2.5%;
            width: 95%;
        }

        #tasks .task {
            padding: 10px;
            margin-bottom: 5px;
        }

        #tasks .task .content input {
            padding-top: 4px;
        }
    }
}

@media screen and (max-width: 280px) {
    main {
        background-image: url(ToDo_BG_Mobiles.jpg);
    }

    .left .forms {
        width: 90%;
        padding-left: 1.5%;
    }

    form input {
        padding: 18px 15px;
    }

    .forms button {
        padding: 18px 15px;
    }

    .navbar a {
        font-size: 18px;
        height: 50%;
        margin-top: 25%;
        padding: 10px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-left: 5%;
    }

    .right {
        margin-left: 2.5%;
        width: 95%;
    }

    #tasks .task {
        padding: 10px;
        margin-bottom: 5px;
    }

    #tasks .task .content input {
        padding-top: 4px;
    }

    #notification-popup {
        width: 200px;
    }

    .no_task_span {
        font-size: 16px;
    }
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 912px) {

        main {
            background-image: url(ToDo_BG_Mobiles.jpg);
        }

        .forms {
            width: 80%;
            padding-left: 10%;
            height: 40%;
        }

        .navbar a {
            margin-top: 30px;
            font-size: 18px;
            height: 50%;
            padding: 10px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            width: 80%;
            padding-left: 10%;
        }

        .right {
            margin-left: 10%;
            width: 80%;
            margin-left: 10%;
        }

        #tasks .task {
            padding: 15px;
            margin-bottom: 5px;
        }

        #tasks .task .content input {
            padding-top: 4px;
        }

    }
}

/* css for confirmation window */
.confirm-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Position relative to the viewport */
    position: fixed;
    top: 50%;
    left: 50%;
    /* Center horizontally and vertically */
    transform: translate(-50%, -50%);
}

.message-box {
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.yes-button,
.no-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.yes-button {
    background-color: green;
}

.yes-button:hover {
    opacity: 0.7;
}

.no-button {
    background-color: red;
}

.no-button:hover {
    opacity: 0.7;
}