html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 42, 42);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: black;
    cursor: pointer;
}

h2 {
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    flex: 1 1 0%;
    background-image: url(ToDo_BG_Desktop.jpg);
    background-size: cover;
}

.middle {
    height: 100%;
}

.left {
    text-align: center;
    height: 25%;
}

.left-one {
    height: 50%;
}

.left-two {
    height: 50%;
}

.forms {
    width: 50%;
    display: flex;
    /* top: 0; */
    /* left: 50%; */
    transform: translate(50%, 45%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    /* padding: 3px; */
    justify-content: space-between;
    flex: 1 1 0%;
    height: 40px;
}

.forms input {
    /* border: 1px solid rgba(255, 255, 255, 0.171); */
    flex: 1 1 0%;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 0.9rem;
    display: block;
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
}

.forms input #title {
    width: 50%;
}

.fa-square-plus {
    color: black;
    /* width: 7%; */
    /* height: 35px; */
    font-size: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.fa-square-plus:hover {
    color: rgb(58, 55, 55);
}

/* .forms button {
    height: 25px;
    padding: 10px;
    background-color: rgba(36, 236, 36, 0.932);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms button:hover {
    background-color: rgb(18, 209, 18);
} */

.navbar {
    align-items: center;
    width: 50%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 17%);
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    height: 40px;
}

.navbar a {
    text-decoration: none;
    color: #ebdb00;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.3px;
    transition: background-color 0.3s ease-in-out;
    padding: 8px;
}

.navbar a:hover {
    background-color: rgb(51, 50, 50);
    color: #ffae00;
    border-radius: 40px;
}

.navbar a.active {
    color: #12f8b3;
    transition: color 0.2s ease-in-out;
    background-color: rgba(14, 7, 7);
    border-radius: 15px;
}

.right {
    color: white;
    height: 75%;
    width: 50%;
    margin-left: 25%;
}

#tasks {
    height: 97%;
    overflow: auto;
    scrollbar-width: 0.5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.6rem;
    border-radius: 9px;
    margin-bottom: 5px;
}

/* Target the task list item when hovering */
li.task:hover {
    border: 3px solid #0ffa5d;
    border-radius: 5px;
}

li.task {
    transition: 0.05s;
}

#tasks .task .content input,
#tasks .task .actions button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.task .content {
    flex: 1 1 0%;
    display: flex;
    margin: 0 0;
}

.task .content .text {
    color: black;
    font-size: 1rem;
    width: 98%;
    display: block;
    transition: 0.4s;
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    /* transition: 0.4s; */
}

.task .actions button:hover {
    opacity: 0.7;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .delete,
.task .actions .edit {
    color: crimson;
}

.wrap-css {
    text-overflow: ellipsis;
}

.material-symbols-outlined:hover {
    opacity: 0.75;
}

/* for showNotification */
#notification-popup {
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    /* Ensure it's above other content */
    z-index: 999;
    color: white;
    text-align: center;
    font-weight: bold;
    /* Smooth fade-in/out effect */
    transition: opacity 0.3s ease-in-out;
}

#notification-popup.success {
    background-color: green;
}

#notification-popup.warning {
    background-color: red;
}

#notification-popup.process {
    background-color: rgb(255, 136, 0);
}

.no_task_span {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 0px 1px black;
}

@media screen and (max-width: 360px) {

    body {
        background-image: url(ToDo_BG_Mobiles.jpg);
    }

    .left {
        height: 20%;
    }

    .forms {
        width: 95%;
        transform: translate(2.5%, 30%);
        height: 40px;
    }

    .forms input {
        font-size: 0.9rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .fa-square-plus {
        font-size: 40px;
    }

    .navbar a {
        font-size: 18px;
        padding: 12px;
        align-items: center;
    }

    .navbar {
        width: 96%;
        align-items: center;
        height: 45px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%);
    }

    .right {
        margin-left: 2.5%;
        width: 95%;
        height: 80%;
    }

    #tasks .task {
        padding: 10px;
        margin-bottom: 5px;
    }

    #tasks .task .content input {
        padding-top: 4px;
    }
}

@media screen and (min-width: 361px) {
    @media screen and (max-width: 600px) {

        body {
            background-image: url(ToDo_BG_Mobiles.jpg);
        }

        .left {
            height: 20%;
        }

        .forms {
            width: 95%;
            transform: translate(2.5%, 35%);
            height: 45px;
        }

        .forms input {
            font-size: 0.9rem;
            margin-left: 10px;
            margin-right: 10px;
        }

        .fa-square-plus {
            font-size: 46px;
        }

        .navbar a {
            font-size: 18px;
            padding: 12px;
            align-items: center;
        }

        .navbar {
            width: 96%;
            align-items: center;
            height: 45px;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, 17%);
        }

        .right {
            margin-left: 2.5%;
            width: 95%;
            height: 80%;
        }

        #tasks .task {
            padding: 10px;
            margin-bottom: 5px;
        }

        #tasks .task .content input {
            padding-top: 4px;
        }
    }
}

/* @media screen and (max-width: 280px) {

    main {
        background-image: url(ToDo_BG_Mobiles.jpg);
        margin: 0 auto;
        padding: 0;
    }

    .left-one {
        height: 40%;
        width: 96%;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 35%);
    }

    .forms button {
        padding: 19px 14px 17px 14px;
    }

    html,
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .navbar a {
        font-size: 18px;
        padding: 9px;
        align-items: center;
    }

    .navbar {
        width: 100%;
        align-items: center;
        height: 33%;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .right {
        margin-left: 0%;
        width: 100%;
    }

    #tasks .task {
        padding: 10px;
        margin-bottom: 5px;
    }

    #tasks .task .content input {
        padding-top: 4px;
    }

    #notification-popup {
        width: 200px;
    }

    .no_task_span {
        font-size: 16px;
    }
} */

@media screen and (min-width: 601px) {
    @media screen and (max-width: 912px) {

        main {
            background-image: url(ToDo_BG_Mobiles.jpg);
        }

        .left {
            height: 20%;
        }

        .forms {
            width: 80%;
            transform: translate(13%, 55%);
            height: 50px;
        }

        .forms input {
            font-size: 0.9rem;
            margin-left: 10px;
            margin-right: 10px;
        }

        .fa-square-plus {
            font-size: 49.99px;
        }

        .navbar a {
            font-size: 18px;
            padding: 16px;
            align-items: center;
        }

        .navbar {
            width: 80%;
            align-items: center;
            height: 55px;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, 20%);
        }

        .right {
            margin-left: 10%;
            width: 80%;
            margin-left: 10%;
            height: 80%;
        }

        #tasks .task {
            padding: 15px;
            margin-bottom: 5px;
        }

        #tasks .task .content input {
            padding-top: 4px;
        }
    }
}

@media screen and (min-height: 1366px) {
    @media screen and (max-height: 1368px) {

        main {
            background-image: url(ToDo_BG_Mobiles.jpg);
        }

        .left {
            height: 15%;
        }

        .forms {
            width: 80%;
            transform: translate(13%, 55%);
            height: 50px;
        }

        .forms input {
            font-size: 0.9rem;
            margin-left: 10px;
            margin-right: 10px;
        }

        .fa-square-plus {
            font-size: 49.99px;
        }

        .navbar a {
            font-size: 18px;
            padding: 16px;
            align-items: center;
        }

        .navbar {
            width: 80%;
            align-items: center;
            height: 55px;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, 20%);
        }

        .right {
            margin-left: 10%;
            width: 80%;
            margin-left: 10%;
            height: 85%;
        }

        #tasks .task {
            padding: 15px;
            margin-bottom: 5px;
        }

        #tasks .task .content input {
            padding-top: 4px;
        }
    }
}

/* css for confirmation window */
.confirm-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Position relative to the viewport */
    position: fixed;
    top: 50%;
    left: 50%;
    /* Center horizontally and vertically */
    transform: translate(-50%, -50%);
}

.message-box {
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.yes-button,
.no-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.yes-button {
    background-color: green;
}

.yes-button:hover {
    opacity: 0.7;
}

.no-button {
    background-color: red;
}

.no-button:hover {
    opacity: 0.7;
}
